/diagrams
/docs

/code.txt
/code.jsx
/validation.txt

/server/node_modules
/server/.gitignore
/server/.env
/server/.env
/server/dist
/server/tmp
/server/*.log
/server/.netlify


/client/.env    ← case-sensitive!
/client/.env.example
/client/node_modules
/client/build
/client/*.log
/client/.gitignore

.env