/diagrams
/docs

/code.txt
/validation.txt

/server/node_modules
/server/.gitignore
/server/.env
/server/dist
/server/tmp
/server/*.log
/server/.netlify


/client
/client/.gitignore
/clinet/.env
/Client/node_modules
/Client/build
/Client/public
/Client/*.log